In [1]:
import pandas as pd
import random

In [59]:
# only the testing docs can be viewed in app
df_test_docs = pd.read_csv("../processed_data/test_docs.csv")
df_fed_para = pd.read_csv("../processed_data/fed_paragraphs.csv")

In [69]:
df_test_docs['Indicator Name'] = "No. " + df_test_docs['No.'].map(str) + " - " + df_test_docs['Title']
df_test_docs.head()

,No.,Title,Author,Publication,Date,Text,Length,Indicator Name
0,52,The House of Representatives,Madison,From the New York Packet,"Friday, February 8, 1788",FROM the more general inquiries pursued in the...,10996,No. 52 - The House of Representatives
1,53,The Same Subject Continued: The House of Repre...,Madison,From the New York Packet,"Tuesday, February 12, 1788","I SHALL here, perhaps, be reminded of a curren...",12975,No. 53 - The Same Subject Continued: The House...
2,54,The Apportionment of Members Among the States,Madison,From the New York Packet,"Tuesday, February 12, 1788",THE next view which I shall take of the House ...,11756,No. 54 - The Apportionment of Members Among th...
3,55,The Total Number of the House of Representatives,Madison,From the New York Packet,"Friday, February 15, 1788",THE number of which the House of Representativ...,11997,No. 55 - The Total Number of the House of Repr...
4,56,The Same Subject Continued: The Total Number o...,Madison,From the New York Packet,"Tuesday, February 19, 1788",THE SECOND charge against the House of Represe...,9424,No. 56 - The Same Subject Continued: The Total...

In [62]:
available_indicators = df_test_docs['Title'].unique()

In [58]:
no = 71
title_name = list(df_test_docs[df_test_docs['No.'] == no]['Title'])[0]
out_text = "No. " + str(no) + ' -- ' + str(title_name)

# select paragaphs
paragraph_selection = df_fed_para[df_fed_para['No.'] == no]
p_list = list(paragraph_selection['ParaText'])
t = '\n'.join(p_list)

In [57]:
# random selection
option_list = list(df_test_docs['No.'])
no = random.choice(option_list)

# output text
title_name = list(df_test_docs[df_test_docs['No.'] == no]['Title'])[0]
out_text = "No. " + str(no) + ' -- ' + str(title_name)
print(out_text)

# select paragaphs
paragraph_selection = df_fed_para[df_fed_para['No.'] == no]
pl = list(paragraph_selection['ParaText'])
#print('> '.join(pl))

No. 52 -- The House of Representatives